$('.passenger-list').replaceWith("#{j render :partial => 'home/passenger_list'}")
$('.logs').replaceWith("#{j render :partial => 'home/logs'}")
$('.trip-number').replaceWith("#{j render :partial => 'home/trip_name'}")
