footer {
  font-size: 10px;
}
.btn-green {
  color: white !important;
  background: #6dc384 !important;
}
.no-padding {
  padding: 0px 0px !important;
}
.nav-link {
  color: slategray;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: slategray;
}
a {
  color: #365899 !important;
}
.shipbox-notice .btn{
  color: white !important;
}
.nav-tabs .nav-link, .nav-tabs .nav-link.active {
  color: black !important;
}
.text-black {
  color: #212529 !important;
}